<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.time_lines">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TimeLines"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="TimeLines"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity
            android:name=".ProfileInformation"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".UVicSignIn"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".AmazonPrompt"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".AmazonSignIn"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".GoogleSignIn"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".UVicPrompt"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".GooglePrompt"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>